{{- define "main" -}}
{{- $paginator := .Paginator -}}

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_gdesehba.json"  background="transparent"  speed="1"  style="margin: -15px auto; width: 150px; height: auto;"  loop  autoplay></lottie-player>

<section class="article-header">

    <h1>{{- .Title | safeHTML -}}</h1>
    <span style="text-align:center">{{- .Content -}}</span>
    
</section>

{{- range .Pages -}}
<ul class="note-list">
    <li class="item">

        <div>
            <a class="note" href="{{- .RelPermalink -}}">
                <p class="note-title">{{- .Title | safeHTML -}}</p>
            </a>            
            <span class="note-date">{{- .Params.location -}}</span>
        </div>

        {{- if .Summary -}}
        <p class="note-content">{{- .Summary | plainify | safeHTML -}}</p>
        {{- end -}}
        
        <span class="article-date">{{- .Params.range -}}</span>

    </li>
</ul>
{{- end -}}

{{- end -}}