{{- define "main" -}}
{{- $justify := false -}}
{{- $date := .Date.Format "2006-01-02" -}}
{{- $lastmod := .Lastmod.Format "2006-01-02" -}}
{{- $ageDays := div (sub now.Unix .Lastmod.Unix) 86400 -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}

<div class="article-containter">
<section class="article-header" {{- if $justify -}}style="text-align: justify;" {{- end -}}>

    <h1>{{- .Title | safeHTML -}}</h1>
    <span class="markdown-body">{{- .Params.location -}}</span>
    <p class="article-date">{{- .Params.range -}}</p>
    
</section>

<article class="markdown-body">
    {{- .Content -}}
</article>
</div>

{{- if or .PrevInSection .NextInSection -}}
<section class="article-navigation">
    {{- with .NextInSection -}}
    <a class="link" href="{{- .RelPermalink -}}"><span>< </span>{{- .Title | safeHTML -}}</a>
    {{- end -}}

    {{- with .PrevInSection -}}
    <a class="link" href="{{- .RelPermalink -}}">{{- .Title | safeHTML -}}<span> ></span></a class="link">
    {{- end -}}
</section>
{{- end -}}
{{- end -}}