{{- define "main" -}}
{{- $paginator := .Paginator -}}

{{ partial "lottie" . }}
<section class="article-header">

    <h1>{{- .Title | safeHTML -}}</h1>
    <span style="text-align:center">{{- .Content -}}</span>
    
</section>

{{- range .Pages -}}
<ul class="note-list">
    <li class="item">

        <div class="subtitle">
            <a class="note" href="{{- .RelPermalink -}}">
                <p class="note-title">{{- .Title | safeHTML -}}</p>
            </a>
            <span class="note-date">{{- .Date.Format "2 Jan 06" -}}</span>
        </div>

        {{- if .Summary -}}
        <p class="note-content">{{- .Summary | plainify | safeHTML -}}</p>
        {{- end -}}

    </li>
</ul>
{{- end -}}

{{- end -}}