{{- define "main" -}}

<div class="article-containter">
<section class="article-header">

    <h1>{{- .Title | safeHTML -}}</h1>
    {{ with .Params.location }}
    <span class="markdown-body">{{- . -}}</span>
    {{ end }}
    {{ with .Params.Date.Format "Friday, 2 January 2006" }}    
    <p class="article-date">{{- . -}}</p>
    {{ end }}
    {{ with .Params.range }}    
    <p class="article-date">{{- . -}}</p>
    {{ end }}
    
</section>

<article class="markdown-body">
    {{- .Content -}}
</article>
</div>

<hr>

{{- if or .PrevInSection .NextInSection -}}
<section class="article-navigation">
    {{- with .NextInSection -}}
    <a class="link" href="{{- .RelPermalink -}}"><span>< </span>{{- .Title | safeHTML -}}</a>
    {{- end -}}

    {{- with .PrevInSection -}}
    <a class="link" href="{{- .RelPermalink -}}">{{- .Title | safeHTML -}}<span> ></span></a class="link">
    {{- end -}}
</section>
{{- end -}}

{{ template "_internal/disqus.html" . }}

{{- end -}}