{{- define "main" -}}

<div class="article-containter">
<section class="article-header">

    <h1>{{- .Title | safeHTML -}}</h1>
    {{ with .Params.location }}
    <span class="markdown-body">{{- . -}}</span>
    {{ end }}
    {{ with .Params.Date.Format "Friday, 2 January 2006" }}    
    <p class="article-date">{{- . -}}</p>
    {{ end }}
    {{ with .Params.range }}    
    <p class="article-date">{{- . -}}</p>
    {{ end }}
    
</section>

<article class="markdown-body">
    {{- .Content -}}
</article>
</div>

<hr>

{{- if or .PrevInSection .NextInSection -}}
<section {{ if not .NextInSection }}style="justify-content:flex-end"{{ end }} class="article-navigation">

    {{- with .NextInSection -}}
    <div class="prev">
        <p>Newer</p>
        <a href="{{- .RelPermalink -}}" style="text-decoration:none;">
            <span>« </span>
            <span class="link">{{- .Title | safeHTML -}}</span>
        </a>
    </div>
    {{- end -}}

    {{- with .PrevInSection -}}
    <div class="next">
        <p>Older</p>
        <a href="{{- .RelPermalink -}}" style="text-decoration:none;">
            <span class="link">{{- .Title | safeHTML -}}</span>
            <span> »</span>
        </a class="link">
    </div>
    {{- end -}}

</section>
{{- end -}}

<section class="article-discussion">
{{ template "_internal/disqus.html" . }}
</section>

{{- end -}}