{{- if or .PrevInSection .NextInSection -}}
<section class="article-navigation">
    {{- with .NextInSection -}}
    <p><a class="link" href="{{- .RelPermalink -}}"><span>< </span>{{- .Title | safeHTML -}}</a>
    {{- end -}}

    {{- if and .PrevInSection .NextInSection -}}
    <span> | </span>
    {{- end -}}

    {{- with .PrevInSection -}}
    <a class="link" href="{{- .RelPermalink -}}">{{- .Title | safeHTML -}}<span> ></span></a class="link">
    </p>
    {{- end -}}
</section>
{{- end -}}