<section id="header" class="header">

    <div class="header-left">
        <span class="site-name">🔥 </span>
        <a class="site-name" href="{{- `/` | relURL -}}">        
            {{ .Site.Title -}}
        </a>
    </div>    

    <div class="header-right">
        &nbsp;&nbsp;&nbsp;
        <details>
            <summary>📑</summary>
            <nav>
            {{- range .Site.Params.menu -}}
                <a class="nav-item" href="{{- .url -}}">{{- .title -}}</a>{{- .ico -}}
            {{- end -}}
            </nav>
        </details>
    </div>

</section>