<ul class="note-list">
    <li class="item">

        <div class="subtitle">
            
            <a class="note" href="{{- .RelPermalink -}}">
                <h1 class="note-title">{{- .Title | safeHTML -}}</h1>
            </a>

            {{ with .Params.Date.Format "2 Jan '06" }}
            <date class="note-date">{{- . -}}</date>
            {{ end }}

        </div>

        <p class="note-content">{{- .Content | plainify | safeHTML | truncate 130 -}}</p>

        {{ with .Params.range }}
        <span class="article-date">{{- . -}}</span>
        {{ end }}

    </li>
</ul>