{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<div class="nav">

    {{- range $nav.custom -}}
        {{- $url := .url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relURL -}}{{- end -}}
        <a class="nav-item" href="{{- $url -}}" 
            {{- if strings.HasPrefix $url "http" -}}target="_blank"
            {{- end -}}>{{- .title -}}</a>
    {{- end -}}

{{- $style := "auto" -}}
{{- if and (.Site.Params.style) (ne .Site.Params.style "") -}}
{{- $style = .Site.Params.style | lower -}}
{{- end -}}

</div>
{{- end -}}