{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
<ul class="note-list">
    {{- range $paginator.Pages -}}
    {{- if not .Params.hidden -}}
    <li class="item">

        <div class="subtitle">
            <a class="note" href="{{- .RelPermalink -}}">
                <p class="note-title">{{- .Title | safeHTML -}}</p>
            </a>
            <span class="note-date">{{- .Date.Format "2 Jan 06" -}}</span>
        </div>

        {{- if .Summary -}}
        <p class="note-content">{{- .Summary | plainify | safeHTML -}}</p>
        {{- end -}}       

    </li>
    {{- end -}}
    {{- end -}}
</ul>
{{- end -}}
