<!DOCTYPE html>
<html data-theme="dark">

{{- partial "head.html" . -}}

<style>
  .lost {
    text-align: center;
    margin: 30vh auto;
  }

  .lost-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
</style>

</head>

<body>
    <div class="wrapper">
        <section id="content">        

          <article class="lost">
            <h1>404</h1>
            <h3>Page Not Found</h3>            
            <p>Consider visit these page :</p>
            <p class="lost-link">
              <a href="/">Home</a>
              <a href="/blog">Blog</a>
              <a href="/onduty">Onduty</a>
              <a href="/about">About</a>
            </p>
          </article>

        </section>
    </div>

</body>

</html>