{{- define "main" -}}

<p class="slogan">" . . . merely journal of my weird life . . . "</p>

{{- range (where .Site.RegularPages "Section" "=" "blog") -}}
<ul class="note-list">
    <li class="item">

        <div class="subtitle">
            <a class="note" href="{{- .RelPermalink -}}">
                <p class="note-title">{{- .Title | safeHTML -}}</p>
            </a>
            <span class="note-date">{{- .Date.Format "2 Jan 06" -}}</span>
        </div>

        {{- if .Summary -}}
        <p class="note-content">{{- .Summary | plainify | safeHTML -}}</p>
        {{- end -}}       

    </li>
</ul>
{{- end -}}

{{- end -}}