<span class="image-container">
    {{- $src := .Get "src" -}}
        
        <img class="img" src="{{ $src }}" 
         {{- if or (.Get "alt") (.Get "caption") }} 
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}} loading="lazy" />

    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <span class="caption">
            {{ with (.Get "title") -}}
                <span class="title">{{ . }}</span class="image-container-caption">
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </span>
    {{- end }}
</span>